.foottext{
    /* position: absolute; */
    color: white    ;
    background-color: darkgreen;
    top: 0%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%; 
    padding-top: 30px;   
}

.foottext img{
    /* position: absolute; */
    width: 313px;
    height: 245px;
    border-radius: 50px;
    margin-bottom: 26px;
    /* opacity: 1; */
}

.links{
    display: flex;
    flex-direction: column;
}

.links h3{
    font-weight: bold;
}

.links a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .foottext img{
        margin-left: 80%;
        margin-top: 60px;
        display: flex;
        width: 100px;
        height: 100px;
    }
    .foottext{
        display: block;
    }
    .links{
        flex-direction: row;
        justify-content: center;
    }
    .links h3{
        display: none;
    }
    .links a{
        color: black;
        padding: 15px;
        
    }
}
